{% extends 'header.html'%}

{% block title %}
Create New Ticket
{% endblock %}

{% block content %}
<h1>Add Ticket</h1>
{% if user.is_authenticated %}
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-secondary">Save</button>
    </form>
</div>
<script>
    $('#id_author').val("{{ user.pk }}")
    $('#id_author').parents('p').first().hide()
    $('#id_is_updated_by_admin').parents('p').first().hide()
    $('#id_is_deleted').parents('p').first().hide()
    $('#id_is_updated').parents('p').first().hide()
</script>
{%else%}
<div>
    <p>Please Login or Register to add a post.</p>
</div>
{% endif %}
{% endblock %}
