<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>
    {% block title %}
    Welcome To ATS!
    {% endblock %}
  </title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">ATS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'main:new_ticket' %}">Create Ticket</a>
      </li>
      <li class="nav-item navbar-right">
        <a class="nav-link" href="{% url 'main:logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item navbar-right">
        <a class="nav-link" href="{% url 'main:login' %}">Login</a>
      </li>
      <li class="nav-item navbar-right">
        <a class="nav-link" href="{% url 'main:register' %}">Register</a>
      </li>
      {% endif %}
    </ul>
    </div>
  </nav>
  <br>
  <div class="container">
    {% block content %}
    {% if user.is_authenticated %}
    <ul>
      <!-- Iterate over object_list -->
      {% for object in object_list %}
      <!-- Display Objects -->
      <li>{{ object.name }}</li>
      <li>{{ object.description }}</li>
      <li>
        <button class="button">
          <a href="{% url 'main:ticket_details' object.pk %}">VIEW</a>
        </button>
        <button class="button">
          <a href="{% url 'main:edit_ticket' object.pk %}">EDIT</a>
        </button>
        <button class="button">
          <a href="{% url 'main:delete_ticket' object.pk %}">DELETE</a>
        </button>
      </li>

      <hr />
      <!-- If object_list is empty  -->
      {% empty %}
      <li>No objects yet.</li>
      {% endfor %}
      
    </ul>
    {% else %}
    <p>Please login or Register</p>
    {% endif %}
    {% endblock %}
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>