{% extends 'header.html'%}
{% block title %}
Update Ticket | {{ticket.name}}
{% endblock %}
{% block content %}
<h1>Update Post</h1>
{% if user.is_authenticated or user.is_superuser %}
    <!-- <span>{{user.pk}} or  {{object.author.pk}}</span> -->
    {% if user.pk == object.author.pk or user.is_superuser %}
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-secondary">Update</button>
        </form>
    </div>
    {% else %}
    <p>You are not the currect user.</p> 
    {% endif %}
{% else %}
You Are Not Signed In. Please login or register to continue.
{% endif %}
{% endblock %}